.userListLink:link, .userListLink:visited{
    text-decoration: none;
    font: 25px Arial;
    color: white;
    display: flex;
    min-width: 100%;
    min-height: 100%;
    margin: 5px;
}

.userListLink:hover, .userListLink:active{
    color: black;
}

.userList {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #000000;
    border-radius: 4px;
}

.fullName {
    margin-left: 20px;
    place-self: center;
}